<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura y Educación</title>
    <link rel="stylesheet" href="/static/cultura_educacionMadridEstilos/culturaEducacion.css">
</head>
<body>
    <h1>Cultura y Educación</h1>
    <div class="button-container">
        <button onclick="window.location.href='/cultura/bibliotecas'">Bibliotecas</button>
        <button onclick="window.location.href='/cultura/centros-culturales'">Centros Culturales</button>
        <button onclick="window.location.href='/cultura/colegios-publicos'">Colegios Públicos</button>
        <button onclick="window.location.href='/cultura/escuelas-idiomas'">Escuelas de Idiomas</button>
        <button onclick="window.location.href='/cultura/centros-educativos'">Centros Educativos</button>
        <button onclick="window.location.href='/cultura/centros-artisticas'">Centros de Enseñanzas Artísticas</button>
    </div>

    <div class="button-container">
        <button class="button-back-to-home" onclick="window.location.href='/cultura/volver-a-inicio'">Volver a Inicio</button>
    </div>
</body>
</html>
