<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/actividadesMadridEstilos/tablasActividades.css">
    <title>Actividades Culturales y de Ocio</title>
</head>
<body>
    <div style="text-align: right; margin-bottom: 20px;">
        <a href="{{ url_for('actividades.actividades_principal') }}" class="btn">Volver a Actividades</a>
    </div>
    
    <!-- Botón para ver el mapa, alineado a la derecha y justo debajo del anterior -->
    <div style="text-align: right;">
        <a href="{{ url_for('actividades.mapa_culturales_ocio') }}" class="btn">Ver mapa</a>
    </div>

    <h1>Actividades Culturales y de Ocio</h1>

    <div style="text-align: center;">
        <form action="{{ url_for('actividades.actividades_culturales_ocio') }}" method="get">
            <div style="display: inline-flex; align-items: center; gap: 10px; margin-bottom: 10px;">
                <input type="text" name="search" placeholder="Buscar por título..." value="{{ request.args.get('search', '') }}">
                <select name="audience">
                    <option value="">Filtrar por público</option>
                    <option value="specific" {% if request.args.get('audience') == 'specific' %} selected {% endif %}>Público específico</option>
                    <option value="unspecified" {% if request.args.get('audience') == 'unspecified' %} selected {% endif %}>Público no especificado</option>
                </select>
                <select name="price">
                    <option value="">Filtrar por precio</option>
                    <option value="free" {% if request.args.get('price') == 'free' %} selected {% endif %}>Gratis</option>
                </select>
                <button type="submit" class="btn">Buscar</button>
                <!-- Botón para reiniciar los filtros -->
                <a href="{{ url_for('actividades.actividades_culturales_ocio') }}" class="btn">Reiniciar Filtros</a>
            </div>
        </form>
    </div>

    <!-- Mensaje de "No se han encontrado resultados" si no hay actividades -->
    {% if actividades|length == 0 %}
        <div class="no-results">
            <p>No se han encontrado resultados para "{{ request.args.get('search', '') }}"</p>
        </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Fecha de inicio</th>
                <th>Fecha fin</th>
                <th>Público</th>
                <th>Precio</th> 
                <th>Descripción</th>
                <th>Enlace</th>
                <th>Dirección</th>
                
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
                <tr class="{% if actividad.expirada %}expirada{% endif %}">
                    <td>{{ actividad.title }}</td>
                    <td>{{ actividad.dtstart }}</td>
                    <td>{{ actividad.dtend }}</td>
                    <td>{{ actividad.audience }}</td>
                    <td>{{ actividad.price if actividad.price else 'Precio no especificado' }}</td>
                    <td>{{ actividad.description }}</td>
                    <td><a href="{{ actividad.link }}" target="_blank">Ver más</a></td>
                    <td>{{ actividad.street_address }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

    <div class="pagination">
        {% if page > 1 %}
            <a class="btn" href="{{ url_for('actividades.actividades_culturales_ocio', page=page - 1, search=request.args.get('search', ''), audience=request.args.get('audience', ''), price=request.args.get('price', '') ) }}">Anterior</a>
        {% endif %}
        
        <span> Página {{ page }} de {{ (total_actividades // per_page) + (1 if total_actividades % per_page > 0 else 0) }} </span>
        
        {% if actividades|length == 15 %}
            <a class="btn" href="{{ url_for('actividades.actividades_culturales_ocio', page=page + 1, search=request.args.get('search', ''), audience=request.args.get('audience', ''), price=request.args.get('price', '') ) }}">Siguiente</a>
        {% endif %}
    </div>
</body>
</html>
