<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros Sociales y Comunitarios</title>
    <link rel="stylesheet" href="/static/socialesComunitariosEstilos/socialesComunitarios.css">
</head>
<body>
    <h1>Centros Sociales y Comunitarios</h1>
    <div class="button-container">
        <button onclick="window.location.href='/comunitario/centros-familia'">Centros atencion de menores y familia</button>
        <button onclick="window.location.href='/comunitario/centros-dia'">Centros de dia</button>
        <button onclick="window.location.href='/comunitario/centros-mayores'">Centros de mayores</button>
        <button onclick="window.location.href='/comunitario/centros-sociales'">Centros servicios sociales</button>
    </div>

    <div class="button-container">
        <button class="button-back-to-home" onclick="window.location.href='/comunitario/volver-a-inicio'">Volver a Inicio</button>
    </div>
</body>
</html>