<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes</title>
    <link rel="stylesheet" href="/static/deportesEstilos/deportes.css">
</head>
<body>
    <h1>Deportes</h1>
    <div class="button-container">
        <button onclick="window.location.href='/deportes/instalaciones'">Instalaciones Deportivas Básicas</button>
        <button onclick="window.location.href='/deportes/piscinas'">Piscinas Municipales</button>
        <button onclick="window.location.href='/deportes/polideportivos'">Polideportivos</button>
    </div>

    <div class="button-container">
        <button class="button-back-to-home" onclick="window.location.href='/deportes/volver-a-inicio'">Volver a Inicio</button>
    </div>
</body>
</html>
