<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercados y Mercadillos</title>
    <link rel="stylesheet" href="/static/mercadosMercadillosEstilos/mercadosMercadillos.css">
</head>
<body>
    <h1>Mercados y Mercadillos</h1>
    <div class="button-container">
        <button onclick="window.location.href='/mercado/mercados'">Mercados Municipales</button>
        <button onclick="window.location.href='/mercado/mercadillos'">Mercadillos en la vía pública</button>
    </div>
    <div class="button-container">
        <button class="button-back-to-home" onclick="window.location.href='/mercado/volver-a-inicio'">Volver a Inicio</button>
    </div>
</body>
</html>