<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madrid Municipio</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <img src="/static/imagenes/logoces.jpg" alt="Logo Ces" class="logoces">
    <div class="container">
        <img src="/static/imagenes/logotfg.jpg" alt="Logo Madrid Municipio" class="logo">  
        <h1>Bienvenido a Madrid Municipio</h1>
        <div class="button-container">
            <button onclick="window.location.href='/actividades'">Actividades de Madrid</button>
            <button onclick="window.location.href='/cultura'">Cultura y Educación</button>
            <button onclick="window.location.href='/comunitario'">Servicios Sociales y Comunitarios</button>
            <button onclick="window.location.href='/mercado'">Mercados Municipales</button>
            <button onclick="window.location.href='/deportes'">Deportes</button>
        </div>
    </div>
</body>
