<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades de Madrid</title>
    <link rel="stylesheet" href="/static/actividadesMadridEstilos/actividadesMadrid.css">
</head>
<body>
    <h1>Actividades de Madrid</h1>
    <div class="button-container">
        <button onclick="window.location.href='/actividades/actividades-culturales-ocio'">Actividades Culturales y de Ocio (próximos 100 días)</button>
        <button onclick="window.location.href='/actividades/actividades-bibliotecas'">Actividades en Bibliotecas</button>
        <button onclick="window.location.href='/actividades/actividades-deportivas'">Actividades Deportivas</button>
        <button onclick="window.location.href='/actividades/actividades-eventos'">Eventos de Madrid</button>
    </div>

    <div class="button-container">
        <button class="button-back-to-home" onclick="window.location.href='/actividades/volver-a-inicio'">Volver a Inicio</button>
    </div>
</body>
</html>
